.dishes-section {
  width: 80%;
  padding: 2rem 0;
  margin: 0 auto;
}

.dishes-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.dishes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 1.8rem;
  list-style: none;
  padding: 0;
}

.dish-card {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  background: #fff;
  transition: 0.3s ease;
  animation: Fade 2s ease-in-out;
}

.dish-card:hover {
  transform: scale(1.05);
}

.dish-img-wrapper {
  position: relative;
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.dish-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.qty-box {
  position: absolute;
  bottom: 12px;
  right: 10px;
  background: #fff;
  height: 25px;
  padding: 6px 10px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 14px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  animation: Fade 1s ease;
  height: auto;
}

.qty-btn {
  width: 30px;
  height: 28px;
  border-radius: 50%;
  border: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qty-btn.minus {
  background: rgb(244, 148, 148);
  color: darkred;
  transition: 0.5s ease;
}

.qty-btn.minus:hover {
  transform: scale(1.1);
}
.qty-btn.plus:hover {
  transform: scale(1.1);
}

.qty-btn.plus {
  background: #77d67a;
  color: darkgreen;
  transition: 0.5s ease;
}

.qty-number {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  min-width: 16px;
}

.add-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: white;
  color: #000;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  font-weight: lighter;
  transition: 0.3s ease;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  animation: Fade 1s ease;
}

.add-btn:hover {
  transform: scale(1.1);
}

.dish-info {
  padding: 1rem;
}

.dish-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dish-name {
  font-size: 1.1rem;
  margin: 0;
}

.star-icon {
  width: 13px;
  height: 13px;
  fill: gold;
}

.dish-description {
  font-size: 0.9rem;
  color: #444;
  margin: 0.4rem 0 0.6rem;
}

.dish-price {
  font-weight: bold;
  font-size: 1.1rem;
  color: red;
}

@keyframes Fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
